// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
p.post-footer {
    font-size: 80%;
    color: #888888;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #565656;
    border-top-color: #cbcbcb;
    border-left-color: #a5a5a5;
    border-right-color: #a5a5a5;
}

